body{
    margin:0;
    padding:0;
}
.navbar-brand {
        width: 130px;
}
.ava{
    width: 50px;
    margin:0;
    padding:0;
}
.nama{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
}
.nama a{
    color: darkgrey;
}
.span1{
    margin:0;
    padding:5px;
}
.small8{
    font-size: 8pt;
}